@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');


.bs-nav-color {
    background-color: #f6eedf;
   
}


.nav-text{
    color: #979782;
}


.logo-text {
   

    padding-right: auto;
    margin-right: 10px;
}

.nav-link {
color: #979782;
}

.text-display {
    color: #f6eedf;
}






.bs-form-background {
background-image: url(/assets/images/pexels-leaf.jpg);
padding-top: 165px;
background-repeat: no-repeat;
background-size: cover;
height: 850px;



}

.bs-price-background{
   background-image: url(/assets/images/pexels-pampas2.jpg) ;
   background-repeat: no-repeat;
   background: cover;
   
   
   
}

.text-style {
   

}

