@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');







.bs-nav-color {
    background-color: #d1d1c9;
    
}

.shadow {
    box-shadow: 0px 2px 5px #777;
   
}

.bs-font a.nav-link {
    
    color: #212107;
    font-family: playfair;
    
}

.bs-image {
    padding: inherit;
}

.bs-text {
    font-family: playfair;
    text-shadow: 2px 2px 5px rgb(248, 246, 246);
  
}

.dr-text {
    font-family: playfair;
    border-color: #979782;
    
   
    
}

.bs-text-p {
    font-family: playfair;
}


.navbar .navbar-nav .nav-link:hover {
    background-color: #979782;
    color: #fff;
    transition:background-color 0.35s ease-in-out;
    border-radius: 70%;
  }

.bs-body {
    background-color: #979782;
    
}




.nav-link {
    color: #979782;
}




#hero h1 {
    color:#fff;
    margin-bottom: 10px;
    font-weight: 300;
    font-family:Playfair ;
    text-shadow: 2px 2px 5px rgb(10, 1, 1);
    
   
}


.bs-image {
    position: relative;
}



.bs-form-background {
    background-image: url(/assets/images/canva-euca2.jpg);
    background-repeat: no-repeat;
    background: cover;
    font-family: playfair;
    box-shadow:  5px 10px 20px #979782 inset;;
    
}

.form {
 box-shadow:  5px 10px 8px 10px #888888;

}

.form-control {
    border-color: #979782;
}

.form-label {
    color: #212107;
   font-weight: bolder;
}




.text-style {
    font-family: Playfair;
}


.form-style {
    background-color:#eee9e1;
}


.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
   

    
    color: #979782;
    font-size: 30px;
    padding: 6px;
    
    transition:all 0.35s ease-in-out;
  
}

.social-links li a i:hover {
    color: #525242;
    border-radius: 50%
}


#footer-details {
    padding: 20px;

    background-color: #e9e2d7;

}

.bs-facials {
    background-color:#979782;
    
}

.map {
    width: 500px;
    height: 200px;
    
}
